<!DOCTYPE html>
<html lang="ar-sa">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body dir="rtl">
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light ">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="" class="img-fluid img-logo" alt="" style="max-width:400;max-height:120px;">
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">

    </div>
    <footer class="border-top footer text-white">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-4 mb-md-0 mb-4 d-flex align-items-center">
                    <div class="con con-1 w-100 py-5">
                        <div class="con-info w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="ion-ios-call"></span>
                            </div>
                            <div class="text">
                                <span><img src="~/Images/footer-logo.png.png" /></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-md-0 mb-4 d-flex align-items-center">
                    <div class="con con-2 w-100 py-5">
                        <div class="con-info w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="ion-ios-mail"></span>
                            </div>
                            <div class="text">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-md-0 mb-4 d-flex align-items-center">
                    <div class="con con-3 w-100 py-5">
                        <div class="con-info w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="ion-ios-pin"></span>
                            </div>
                            <div class="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </footer>





</body>

</html>